body {
    font-family: 'Smooch Sans', sans-serif;
    background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  

input {
    display: block;
    margin-bottom: 2rem;
  }


fieldset,
legend {
  margin-bottom: 1rem;
}

fieldset input:last-of-type {
    margin-bottom: 0;   }


    
fieldset,
    legend {
      margin-bottom: 1rem;
    }


    form {

        margin-bottom: 2rem;
        padding: 1rem;
        border: 1px solid rgb(177, 51, 171);
      }

      button[type="submit"] {
        background-color: rgb(114, 193, 199);
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        
      }